
		#customers {
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}
		
		#customers td,
		#customers th {
			border: 1px solid #ddd;
			padding: 8px;
		}
		
		#customers tr:nth-child(even) {
			background-color: #f2f2f2;
		}
		
		#customers tr:hover {
			background-color: #ddd;
		}
		
		#customers th {
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: #3997e8;
			color: white;
		}
		
		.button {
			background-color: #3997e8;
			border: none;
			color: white;
			padding: 10px 15px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
		}

		.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid #3997e8;
  color: white;
  background-color: #3997e8;
  padding: 10px 20px;
  /* border-radius: 8px; */
  font-size: 15px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}